/* CLASSES */

/* For logo */
.logo {
  width: 100%;
  height: auto;
  max-width: 275px;
}

/* For nav links */
.nav-links {
  color: #FFF !important;
  font-size: 1.2em;
  margin: 10px;
}

.nav-links:hover {
  color: #989898 !important;
}

.navbar-toggler {
  margin-right: 20px;
}

/* ID'S */

/* For navbar */
#navbar {
  background-color: #1A1A1A;
}

#collapse-div {
  justify-content: flex-end;
  margin-right: 3%;
  color: #FFF  !important;
}