.layout-container {
  padding-top: 8%;
  text-align: center;
}

.mark {
  font-weight: bolder;
  font-size: 1.1em;
  background-color: transparent;
}

.card-styles {
  border: none;
}

.card-styles:hover {
  transform: scale(1.02);
}