/* Mobile Navbar stylings in order of elements on page*/

.layout-1-nav {
  color: #FFF;
  background-color: rgba(0,0,0,0.3);
  padding-bottom: 10px;
}

.layout-toggle {
  margin-top: 15px;
  background-color: #FFF;
  justify-content: flex-end;
}

.layout-toggle:active {
  box-shadow: none;
}

.layout-collapse {
  justify-content: flex-end;
  color: #FFF  !important;
}

.navbar-style{
  margin-top: 10px;
}

.layout-navs{
  margin: 0px;
  margin-left: 15px;
  margin-top: 10px;
  animation: fade-in-text 1s ease-in;
}

@keyframes fade-in-text {
  0%{opacity: 0}
  100%{opacity: 1}
}

/* Mobile body stylings in order of elements on page */
.layout-background {
  background-image: url(./../img/Forest.jpg);
  height: 100vh;
  width:   100vw;
  position: relative; 
}

.layout-body {
  background-color: transparent;
  color: #FFF;
}

.layout-heading {
  text-align: center;
  padding-top: 70%;
}

.footer-position {
  bottom: 2px;  
  height: 40px;  
  margin-top: 40px;  
  text-align: center;  
  vertical-align: middle; 
  position: fixed;
  width: 100%;
  font-weight: bold;
  color: #FFF;
}

@media only screen and (min-width: 768px){
  .layout-navs {
    margin-right: 25px;
  }

  .layout-heading{
    padding-top: 50%;
  }
}

